.screen {
  padding: 10px 10px 0 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.previousOperand,
.currentOperand {
  padding: 5px;
  width: 100%;
  text-align: right;
  border: none;
  color: rgb(157, 157, 157);
  border-radius: 10px;
  font-family: "Roboto", sans-serif !important;
  outline: none;
}

.previousOperand {
  font-size: 20px !important;
  margin-bottom: 10px;
  box-shadow: rgba(99, 98, 98, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.currentOperand {
  font-size: 32px !important;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}
::placeholder {
  color: rgb(157, 157, 157);
}
